<%= title "Add Questions - #{@survey.title.titleize}"%>
<div class="container back-to-survey">
  <h2>Add question for <%= @survey.title.titleize %> <%= link_to "Back to Survey", @survey, :class => "btn btn-primary" %></h2>

  <%= semantic_form_for [@survey, @question], :html=>{:class=> "form-group"} do |f| %>
    <%= render 'new_question_form', f: f%>
  <% end %>

</div>
