<%= title @survey.title.titleize %>
<div class="container">
  <h1><%= @survey.title.titleize %></h1>

  <%= semantic_form_for [@survey, @submission], :html=>{:class=> "form-group"} do |f| %>
    <!-- <%= f.input :survey_id, :as => :hidden %> -->
      <%= render 'new_submission_form', f:f %>
  <% end %>
</div>
