<%= title "Survey List" %>
<div class="container">
  <ul>
    <% @surveys.each do |survey| %>
      <li class="survey-list">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= survey.title %> <small class="created_at"> - about <%= time_ago_in_words(survey.created_at) %> ago</small></h3>
          </div>
          <div class="panel-body">
            <%= survey.description %>
          </div>
          <div class="survey-button btn-group" role="group">
            <%= button_take_survey(survey) %>
            <%= button_edit_survey(survey) %>
            <%= button_survey_stat(survey) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= button_create_survey(@survey) %>
</div>
