<%= title "#{@survey.title.titleize} page" %>
<div class="container" id="show-body">

    <!-- <div class="publish">
      <%= button_publish(@survey)%>
    </div> -->
  <div class="show-pagination clearfix">
    <%= link_to("Prev", user_survey_path(params[:user_id], @survey.previous), :class=> "pagination") if @survey.previous %>
    <% if @survey.next && @survey.previous %> <span class="pagination"> &nbsp;|&nbsp; </span> <% end %>
    <%= link_to("Next ", user_survey_path(params[:user_id], @survey.next), :class=> "pagination") if @survey.next %>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= @survey.title %>
    </div>
    <div class="list-group-item">
      <%= @survey.description %>
    </div>
  </div>

  <ul class="list-group">
    <% @survey.questions.each do |question| %>
      <% if question.valid? && question.question_text %>
        <li class="list-group-item">
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= question.question_text %>
              <!-- <%= link_to "Add Answer Options", new_question_answer_choice_path(question), :class => "btn btn-primary btn-sm" %> -->
            </div>
          <% question.answer_choices.each do |answer_choice| %>
            <ul>
              <% if answer_choice.answer_text %>
                <li class="list-group-item"><%= answer_choice.answer_text %></li>
              <% end %>
            </ul>
          <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>

  <div class="show-pagination">
    <%= link_to("Prev", user_survey_path(params[:user_id], @survey.previous), :class=> "pagination") if @survey.previous %>
    <% if @survey.next && @survey.previous %> <span class="pagination"> &nbsp;|&nbsp; </span> <% end %>
    <%= link_to("Next ", user_survey_path(params[:user_id], @survey.next), :class=> "pagination") if @survey.next %>
  </div>

</div>

<!-- handlebar template -->
<script type="text/x-handlebars-template" id="survey-show-template">
  <div class="show-pagination clearfix">
    {{#if previousSurvey}}
      <a href="/users/{{creator_id}}/surveys/{{previousSurvey}}" class="pagination">Prev</a>
    {{/if}}
    {{#if nextSurvey}}
      {{#if previousSurvey}}
        <span class="pagination">&nbsp; | &nbsp;</span>
      {{/if}}
    {{/if}}
    {{#if nextSurvey}}
      <a href="/users/{{creator_id}}/surveys/{{nextSurvey}}" class="pagination"> Next</a>
    {{/if}}
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      {{title}}
    </div>
    <div class="list-group-item">
      {{description}}
    </div>
  </div>

  <ul class="list-group">
    {{#each questions}}
      <li class="list-group-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{question_text}}
          </div>
          <ul>
            {{#each answer_choices}}
              <li class="list-group-item">{{answer_text}}</li>
            {{/each}}
          </ul>
        </div>
      </li>
    {{/each}}
  </ul>
  <div class="show-pagination">
    {{#if previousSurvey}}
      <a href="/users/{{creator_id}}/surveys/{{previousSurvey}}" class="pagination">Prev</a>
    {{/if}}
    {{#if nextSurvey}}
      {{#if previousSurvey}}
        <span class="pagination"> &nbsp;|&nbsp; </span>
      {{/if}}
    {{/if}}
    {{#if nextSurvey}}
      <a href="/users/{{creator_id}}/surveys/{{nextSurvey}}" class="pagination"> Next</a>
    {{/if}}
  </div>

</script>
