<div class="container">
  <h1><%= @survey.title %></h1>
  <ul>
    <% @survey.questions.each do |question| %>
      <% if question.question_text %>
        <li>
          <%= question.question_text %>
          <%= link_to "Add Answer Options", new_question_answer_choice_path(question, @answer_choice) %>
          <% question.answer_choices.each do |answer_choice| %>
            <ul>
              <% if answer_choice.answer_text %>
                <li><%= answer_choice.answer_text %></li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= semantic_form_for [@survey, @question] do |q|%>
    <%= q.inputs do %>
      <%= q.input :question_text %>
    <% end %>
    <%= q.actions do %>
      <%= q.action :submit %>
    <% end %>
  <% end %>
</div>
