<%= title "#{@survey.title.titleize} page" %>
<div class="container">

    <div class="back-to-survey">
      <%= button_publish(@survey)%>
    </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= @survey.title %>
    </div>
    <div class="list-group-item">
      <%= @survey.description %>
    </div>
  </div>

  <ul class="list-group">
    <% @survey.questions.each do |question| %>
      <% if question.valid? && question.question_text %>
        <li class="list-group-item">
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= question.question_text %>
              <!-- <%= link_to "Add Answer Options", new_question_answer_choice_path(question), :class => "btn btn-primary btn-sm" %> -->
            </div>
          <% question.answer_choices.each do |answer_choice| %>
            <ul>
              <% if answer_choice.answer_text %>
                <li class="list-group-item"><%= answer_choice.answer_text %></li>
              <% end %>
            </ul>
          <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= link_to("Previous", user_survey_path(params[:user_id], @survey.previous)) if @survey.previous %>
  <%= link_to("Next", user_survey_path(params[:user_id], @survey.next)) if @survey.next %>

</div>
