<%= title "#{@survey.title.titleize} page" %>
<div class="container">
  <h1><%= @survey.title.titleize %> </h1>
  <ul class="list-group">
    <% @survey.questions.each do |question| %>
      <% if question.valid? && question.question_text %>
        <li class="list-group-item">
          <%= question.question_text %>
          <%= link_to "Add Answer Options", new_question_answer_choice_path(question), :class => "btn btn-primary btn-sm" %>
          <% question.answer_choices.each do |answer_choice| %>
            <ul >
              <% if answer_choice.answer_text %>
                <li class="list-group-item"><%= answer_choice.answer_text %></li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= link_to "Add New Question", new_survey_question_path(@survey), :class => "btn btn-primary" %>

</div>
