<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>SurveyLane - <%= yield :title  %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="" id="wrap">
    <div class="" id="main">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">SurveyLance</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>

              <% if user_signed_in? %>
                <li> <%= link_to "Logout", destroy_user_session_path, :method=> :delete %> </li>
                <li> <%= link_to "Profile", user_path(current_user) %>  </li>
              <% end %>

            </ul>
          </div>
        </div>
      </nav>

        <div id="flash">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
        </div>


      <%= yield %>

      <% if !user_signed_in? %>
        <div class="container">
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to "Sign In", new_user_session_path %>
          <div id="omni">
            <%= link_to user_omniauth_authorize_path(:github), class: "btn btn-block btn-social btn-lg btn-github" do%>
              <span class="fa fa-github"></span> Sign in with Github
            <% end %>
            <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-social btn-lg btn-facebook" do%>
              <span class="fa fa-facebook"></span> Sign in with Facebook
            <% end %>
          </div>
        </div>
      <% end %>

    </div>

  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <% if user_signed_in? %>
          Logged in as <span class="text-muted"><%= current_user.email %></span>
          <span class="navbar-right"><%= link_to "Logout", destroy_user_session_path, :method=> :delete %></span>
        <% end %>
      </div>
      <div class="bottom-footer">
        <div class="col-md-8 copyright">
          &copy; Surveylance 2017.
        </div>
        <div class="col-md-4">
          <ul class="footer-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
